section#portfolio{
    background-color: $main-color;

    > div.head{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: $little-margin * 2;
        align-items: center;

        padding: $little-margin $big-margin 0 $big-margin;

        div.section-title{
            margin-bottom: 0;
        }

        form.portfolio-filters{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            font-weight: 500;

            > div{
                margin-left: 3vw;

                &.checkbox-container{

                    label{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        cursor: pointer;

                        .checkbox{
                            width: .8em;
                            height: .8em;
                            border-radius: .2em;
                            margin-right: .5em;

                            background-color: #fff;
                            transition: .2s;
                        }

                        &:hover > .checkbox{
                            background-color: rgba($secondary-color, .05);
                        }
                    }

                    input[type="checkbox"]{
                        display: none;

                        &:checked + label > .checkbox{
                            background-color: rgba($secondary-color, 1);
                        }
                    }
                }

                select{
                    appearance: none;
                    cursor: pointer;

                    padding: .2em 0;
                    padding-left: 1.75em;
                    background-image: url('../images/select.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: left;
                }
            }
        }
    }

    div.projects-container{
        width: 100vw;

        display: flex;
        flex-direction: row;
        overflow-x: scroll;

        padding-top: $big-margin / 2;
        padding-bottom: $big-margin;

        article{
            background-color: $main-color-darker;
            box-shadow: rgba($secondary-color, .15) 0 0 2em;
            margin-left: $little-margin;
            
            min-width: 27.5em;
            width: 27.5em;
            max-width: 27.5em;

            border-radius: 1em;

            &:first-of-type{
                margin-left: $big-margin;
            }
            &:last-of-type{
                margin-right: $big-margin;
            }

            > img{
                width: 100%;
                height: 12.5em;
                object-fit: cover;
                object-position: center;

                border-radius: 1em 1em 0 0;
            }

            div.content{
                padding: 1.75em 2.5em;

                div.head{

                    h3{
                        font-size: 1.15em;
                        font-weight: 600;
                    }

                    p{
                        line-height: 1.5em;
                        margin: .75em 0;
                    }

                    .release-date{
                        font-weight: 300;
                        font-style: italic;
                        opacity: .4;
                    }
                }
                div.keywords{
                    margin: 2em 0;

                    > div{
                        max-width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        overflow-x: scroll;

                        -ms-overflow-style: none;
                        scrollbar-width: none;

                        &::-webkit-scrollbar{
                            display: none;
                        }
                        
                        &:not(:last-of-type){
                            margin-bottom: 1em;
                        }
                    }
            
                }
                div.cta{
                    margin-top: 1em;

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1em;

                    a{
                        width: 100%;
                        
                        &.know-more{
                            grid-row: 2;
                            grid-column: span 2;
                        }
                    }

                }
            }
        }
    }
}

@media all and (max-width: 800px){

    section#portfolio{

        > div.head{
            display: block;

            padding: $big-margin;
            padding-bottom: 0;

            div.section-title{
                margin-bottom: 1.5em;
            }

            form.portfolio-filters{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 1.5em;

                > div{
                    margin: 0;
                    margin: auto;
                }
                
                > div.button-container{
                    grid-column: span 3;
                    width: 100%;

                    button{
                        width: 100%;
                    }
                } 
            }
        }

        div.projects-container{
            padding-top: $big-margin;
        }
    }
}